.logo__title span {
  /* Satria élément span de type inline dia tsy maintsy
    ovaina ny display any vo afaka ampiana transform izy
  */
  display: inline-block;
  transition: transform 0.3s ease;
}
.logo__title span:hover {
  cursor: pointer;
}
/*Lettre C*/
.logo__title span:first-child {
  transform: rotate(0deg);
}
.logo__title span:first-child:hover {
  transform: rotate(-45deg);
}
/*Lettre O*/
.logo__title span:nth-child(2):hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
/*Lettre R*/
.logo__title span:nth-child(3):hover {
  -webkit-animation: shake 0.6s ease-in-out both;
  animation: shake 0.6s ease-in-out both;
}
/*Lettre T*/
.logo__title span:nth-child(4):hover {
  -webkit-animation: bounce 0.6s ease-in-out both;
  animation: bounce 0.6s ease-in-out both;
}
/*Lettre E*/
.logo__title span:nth-child(5):hover {
  -webkit-animation: hithere 0.65s linear both;
  animation: hithere 0.65s linear both;
}
/*Lettre X*/
.logo__title span:nth-child(6):hover {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}

.loader {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader.hidden {
  display: none;
}
.loader img {
  width: 100px;
  height: 100px;
  animation: loader 1s linear infinite;
}
