.carousel {
  display: flex;
  align-items: center;
  position: absolute;
  width: 400px;
  height: 180px;
  overflow: hidden;
}
.carousel .img__container {
  min-width: 100px;
  height: 120px;
  border-radius: 10px;
  box-shadow: var(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 2;
}
.carousel .img__container.active {
  transform: scale(1.3);
  z-index: 3;
}
.carousel .img__container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.carousel .img__container:nth-child(4) {
  transform: scale(0.7) translateX(-30px);
  z-index: 0;
}
.member__section {
  margin: 200px 30px 30px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: calc(100vh - 100px);
}
.first-name {
  text-transform: uppercase;
}
.first-name,
.last-name {
  font-size: clamp(1rem, 5vw, 3rem);
  letter-spacing: 2px;
}
.member__section .infos {
  gap: 30px;
  width: 100%;
}
.member__section .infos .speciality {
  background: var(--main-color);
  color: #fff;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
}
.member__infos {
  align-items: flex-start;
}
.member__section .infos .d-flex.flex-column h4,
.member__section .infos .technos h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.member__section .infos .d-flex.flex-column {
  gap: 10px;
}
.member__section .infos .technos ul {
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.member__section .infos .member__infos .d-flex svg {
  width: 30px;
}
.member__section .infos .member__infos .d-flex {
  gap: 10px;
}
.member__section .infos .technos ul li {
  padding: 0.5rem 1.5rem;
  box-shadow: var(--shadow);
  background-color: var(--bg-color);
}
.member__section .image {
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  position: relative;
}

.member__section .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border-bottom-left-radius: 50%;
}

.member__section .image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -20px;
  left: 10px;
  border: var(--bg-color) 6px solid;
  border-radius: 20px;
  border-bottom-left-radius: 50%;
}

.facebook {
  width: 30px;
  height: 30px;
}
svg {
  width: 20px;
  height: 20px;
}
svg circle {
  fill: var(--text-color);
}
.facebook path {
  fill: var(--bg-color);
}
@media screen and (width < 998px) {
  .carousel {
    top: -120px;
  }
}
@media screen and (width > 998px) {
  .member__section {
    flex-direction: row;
    margin: 80px 30px 30px 30px;
  }
  .carousel {
    bottom: 0px;
    right: 0px;
  }
}
